.illustarion-img {
    width: 70vw;
    margin-inline: 35px;
}

.title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
}

@media only screen and (min-width: 375px) {
    .illustarion-img {
        width: 80vw;
    }
}

@media only screen and (min-width: 650px) {
    .illustarion-img {
        margin-inline: 0px;
        width: 50vw;
    }

    .title {
        font-size: 32px;
        line-height: 57px;
        min-width: 600px;
    }
}

@media only screen and (min-width: 1000px) {
    .illustarion-img {
        width: 32.32vw;
    }

    .title {
        font-size: 38px;
        line-height: 57px;
        min-width: 734px;
    }
}